# Configuración del servidor
PORT=

# Seguridad JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Configuración de la base de datos
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Configuración de cookies
COOKIE_HTTP_ONLY=
COOKIE_SECURE=
COOKIE_SAME_SITE=
COOKIE_PATH=

# Configuración CORS (opcional)
CORS_ORIGIN=
CORS_CREDENTIALS=